{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {% if category %}
    {{ category.description|truncatewords:155 }}
  {% else %}
     Welcome to ABC store where you can find your favourites.....
  {% endif %}
{% endblock %}

{% block title %}
  {% if category %}
    {{ category.name }} - ABC Store
  {% else %}
    See our New Collections -ABC Store
  {% endif %}
{% endblock %}

{% block content %}
   {% if category %}
   <div>
       <div class="row my_row_class">
           <div class="mx-auto">
           <p ><a href="{% url 'shopapp:allProdCat' %}">Our Product Collections</a></p>
       </div>
           </div>
   </div>
   {% endif %}
<div class="mx-auto">
    {% if category %}
      <img class="my_images" src="{{category.image.url}}" alt="{{category.name}}"  height="300px;"  width="450px;">
</div>
    <br>
<div>
      <h1 class="text-center my_title">{{category.name}}</h1>
      <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products"   width="1200px;" height="400px;">
</div>
<div>
    <h1 class="text_center my_title">Our Product Collections</h1>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis rutrum quam, quis cursus est. Donec nec nibh consequat, tempor dui vel, tempus metus. Cras et justo nisi. Sed hendrerit mi quis nulla finibus fringilla. Nulla accumsan vel sem ac feugiat. Donec mollis luctus vestibulum. Curabitur feugiat tortor enim, in efficitur elit tempor at. Proin nec commodo risus</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom-margin col-12 col-sm-3 col-md-4 col-lg-3">
            <div class="card text-center" style="min-width:14rem;" >
                <a href="{{product.get_url}}"> <img class="card-img-top my_image" src="{{product.image.url}}"   alt="{{product.name}}"></a>
            <div class="card-body" >
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class=mx_auto></div>
    {% if products.paginator.num_pages > 1 %}

 <hr>
    <div class="text-center">
        {% for pg in products.paginator.page_range %}
         <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}"> {{pg}}</a>
        {% endfor %}
    </div>
       {% endif %}
    </div>


{% endblock %}
































